[submodule "examples/tf-bare"]
	path = examples/tf-bare
	url = https://github.com/moxel/tf-bare
[submodule "examples/tf-models"]
	path = examples/tf-models
	url = https://github.com/moxel/tf-models
[submodule "master-server/test/tf-bare"]
	path = master-server/test/tf-bare
	url = https://github.com/dummy-ai/tf-bare
[submodule "master-server/tests/tf-bare"]
	path = master-server/tests/tf-bare
	url = https://github.com/dummy-ai/tf-bare
[submodule "kube/kube-gcloud"]
	path = supernova
	url = https://github.com/dummy-ai/kube-gcloud
[submodule "examples/iris_flower_classifier_demo"]
	path = examples/iris_flower_classifier_demo
	url = https://github.com/predictors/iris_flower_classifier_demo
[submodule "examples/caffe-colorization"]
	path = examples/caffe-colorization
	url = https://github.com/moxel/caffe-colorization
[submodule "examples/show-attend-and-tell"]
	path = examples/show-attend-and-tell
	url = https://github.com/yunjey/show-attend-and-tell
[submodule "cli/test/tf-bare"]
	path = cli/test/tf-bare
	url = https://github.com/moxel/tf-bare
[submodule "examples/OpenNMT-py"]
	path = examples/OpenNMT-py
	url = https://github.com/OpenNMT/OpenNMT-py
[submodule "examples/glove-setup"]
	path = examples/glove-setup
	url = https://github.com/strin/glove-setup
[submodule "examples/tf-bi-att-flow"]
	path = examples/tf-bi-att-flow
	url = https://github.com/moxel/tf-bi-att-flow
[submodule "examples/py-foo"]
	path = examples/py-foo
	url = https://github.com/moxel/py-foo
[submodule "examples/perceptron"]
	path = examples/perceptron
	url = /Users/tims/moxel/moxel/examples/perceptron
[submodule "tests/upload-tests/perceptron"]
	path = tests/upload-tests/perceptron
	url = https://github.com/moxel/perceptron
