# JetBrains IDE
.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vim Temp Files
*.swp
*.swo
.ropeproject
.build
tags

# Specific Paths
/master-server/bin
