{
  "presets": [
    "flow",
    "stage-2",
    "es2015",
    "react"
  ],
  "plugins": [[
    "transform-assets", {
      "extensions": ["css", "svg"],
      "name": "[name].[ext]?[sha512:hash:base64:7]"
    }
  ]]
}