.model-snippet {
    box-sizing: border-box;
    border-radius: 8px;
    border: solid 1px #dddddd;
    margin-bottom: 15px;
}

.model-snippet .snippet-title {
    padding: 14px
}
.model-snippet h1.snippet-title {
    margin: 0 0 0 0;
    font-size: 1.7em;
    font-weight: 400;
    color: #f13770
}

.model-snippet .snippet-body {
    padding: 14px
}

.model-snippet .snippet-footer {
    background-color: rgba(240, 243, 248, 0.6);
    padding: 7px 14px 14px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
}
