.search-bar > button {
    cursor: pointer;
    border-radius: 8px;
    border: 0 solid transparent;
    padding: 0 18px;
    font-size: 1em;
    color: #202020;
    background-color: #eeeeee;
}
.search-bar > button:hover {
    background-color: #dcdcdc;
}

.search-bar > button:active{
    background-color: #c7c7c7;
}
