.tab-button-group {
    border-radius: 8px;
    border: solid 1px #dddddd;
    height: 40px;
}

.tab-button-group > .tab-button:not(:last-child) {
    border-right: solid 1px #dddddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-button {
    cursor: pointer;
    padding: 4px 14px;
    user-select: none;
}
.tab-button:hover {
    background-color: #f6f8fb;
}
.tab-button:active{
    background-color: #c0c2c5;
}
.tab-button a {
    text-decoration: none;
    color: inherit;
}
