.text-input-with-clear-button {
    position: relative;
    margin-right: 10px;
}

.text-input-with-clear-button > button {
    cursor: pointer;
    transition: color 0.5s;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: rgba(253, 253, 253, 0);
    font-size: 1.2em;
    color: grey;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.text-input-with-clear-button > button:hover {
    color: black;
}

.text-input-with-clear-button > button:active{
    /*box-shadow: inset #808080 0 0 18px;*/
    background-color: #eee;
}

.text-input-with-clear-button > input {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #dddddd;
    padding: 4px 18px;
}

.text-input-with-clear-button > input {
    font-size: 1em;
}

.text-input-with-clear-button > input:focus {
    outline: none;
}
