.header-button {
    margin: 0;
    padding: 0 10px;
    height: 100%;
    cursor: pointer;
}

/*styles*/
a.header-button {
    font-weight: 100;
    transition: 0.5s;
    color: #e2e2e2;
    text-decoration: none;
}

a.header-button:hover {
    color: white;
    text-shadow: 0 0 1px white;
    /*box-shadow: inset #353535 0 0 20px;*/
}