.page-footer {
    position: relative;
    top: 0;
    bottom: 0;
    background-color: rgba(198, 202, 208, 0.18);
    height: 200px;
}
.page-footer-inner {
    height: 100%;
}
.page-footer .header-button {
    color: grey;
}
.page-footer .header-button:hover {
    color: #484848;
}
